@import "../../scss/_mixin.scss";
@import "../../scss/_custom.scss";
@import "commons/styles/variables.scss";

.navItem {
  cursor: pointer;
}

.selectedZone {
  min-height: 320px;
}

.cardCon {
  float: left;
}

.card {
  @include shadow-effect(1);
  border: none !important;
}

.btn {
  color: #fff;
}

.btnRow {
  float: right;
}

.btnCancel {
  padding: 0px;
  border: none;
}

.tabContent {
  margin-top: 30px;
}

.selectedMicroservices {
  height: 400px;
}

.deetectedMicroservices {
  height: 600px;
}

.noData {
  margin-top: -280px;
  span {
    width: 100%;
    text-align: center;
    color: $color-light-grey;
  }
}

.tHead {
  color: $color-grey;
}

.MicroservicesTable {
  table td, table th {
    padding: 0.5rem;
    &:first-child {
      padding-left: 4rem;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  table, thead, tbody {
    display: block;
  }
  tbody {
    overflow: scroll;
  }
}
