@import "styles/variables.sass";

.TestStagesJumbotron {
  background: $color-white;
  border-bottom: 1px solid $color-divider;
  height: 160px;

  .Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

.intro {
  max-width: 340px;
}

.stages {
  display: flex;

  & > * {
    margin: 0 30px;
  }

  .arrow-icon {
    width: 50px;
    background-image: url(assets/images/icon_state_sizing_analysis.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
