@import "styles/variables.sass";


.ProgressItem {
  display: flex;
  flex-direction: row;
  p {
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 0.4px;
  }

}

.done {
  p {
    color: $color-dark-grey;
  }
  mark {
    color: $color-primary;
    background: none;
  }
  .checkmark {
    color: #b8e986;
  }
}

.running {
  p {
    color: #B9BACB;
  }
  mark {
    color: $color-blue;
    background: none;
  }
  .checkmark {
    color: $color-primary;
    animation-name: running;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes running {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.checkmark {
  margin: 1rem 1rem 1rem 0;
  float: left;
}

.instance-type {
  width: 60%;
}
.running-time {
  width: 40%;
}
