@import "styles/variables.sass";


.ProgressItem {
  display: flex;
  flex-direction: row;
  p {
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 0.4px;
  }

}

.completed {
  p {
    color: $color-dark-grey;
  }
  mark {
    color: $color-primary;
    background: none;
  }
  .checkmark {
    color: #b8e986;
  }
}

.running {
  p {
    color: #e5e6e8;
  }
  mark {
    color: $color-blue;
    background: none;
  }
  .checkmark {
    color: #e5e6e8;
  }
}

.checkmark {
  margin: 1rem 1rem 1rem 0;
  float: left;
}

.instance-type {
  width: 60%;
}
.running-time {
  width: 40%;
}
