@import "commons/styles/variables";

.KeySummary {
  border-radius: 4px;
  border: 1px solid $color-divider;
  box-sizing: border-box;
  background: transparent;
  min-width: 180px;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .value {
    font-size: 30px;
    letter-spacing: 0.7px;
    color: $color-primary;
    margin-right: 1rem;
  }

  .title {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: $color-dark-grey;
  }
}
