@import "styles/variables.sass";

.TestStageIndicator {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .element + .element {
    margin-left: 15px;
  }

  .content > * {
    margin: 0.4rem 0;
    color: $color-muted;
  }

  .content.active > * {
    color: $color-dark-grey;
  }

  .icon {
    /* TODO: Apply difference colors for different stages */
  }
}
