@import "styles/variables.sass";

.ResultTable {
  border-collapse: collapse;

  /* Taken from https://stackoverflow.com/a/2586780 */
  border-radius: 4px;
  border-style: hidden;
  box-shadow: 0 0 0 1px $color-divider;
  background-color: $color-white;

  thead {
    border-bottom: 1px solid $color-divider;
    color: $color-light-grey;
  }

  tbody {
    color: $color-dark-grey;
  }

  td, th {
    min-width: 60px;
    padding: 1rem 0;
    font-weight: normal;
    text-align: left;
  }

  td:first-child, th:first-child {
    padding-left: 2rem;
  }
  td:last-child {
    padding-right: 2rem;
  }

}

tr.single-result {
  .point {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 1rem;

    border-width: 2px;
    border-style: solid;

    border-color: $color-white;
    background-color: $color-light-grey;
  }

  &.MaxPerfOverCost .point {
    background-color: $color-primary;
    border-color: $color-white;
  }
  &.MinCostWithPerfLimit .point {
    background-color: $background-success;
    border-color: #b8e986;
  }
  &.MaxPerfWithCostLimit .point {
    background-color: $color-divider;
    border-color: $color-primary;
  }

  &.recommended-result td {
    font-weight: bold;
    color: $color-primary;
  }
}

tr.single-result:hover {
  background: $color-light;
}

tr.see-all {
  height: 100%;
  vertical-align: top;
  color: #78c1f9;
  cursor: pointer;

  .down-icon {
    margin-right: 1rem;
  }
}

.badge {
  font-size: 12px;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  color: $color-white;
  background: $color-primary;
  border-radius: 4px;
}
