@import "styles/variables.sass";

.SizingRunnerPage main {
  margin: 2rem 0;
  border-bottom: 1px solid $color-divider;

  .Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.cluster-info {
  margin: 1.5rem 0;
  p, h3 {
    margin: 0.3rem 0;
    font-size: 16px;
  }
}
