@import "../scss/custom.scss";

// Navbar -----------------------------
.navBar { 
  height: 64px;
  border-bottom: 3px solid $color-blue;
  padding-left: 45px !important;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.navTitle {
  font-size: 18px;
	font-weight: 500;
  letter-spacing: 0.4px;
  color: $color-dark-grey;
  &:hover {
    text-decoration: none;
  }
}

.routerContainer {
  margin-top: 40px;
  margin-left: 30px !important;
  margin-right: 30px !important;
}


.linkBtn {
  width: 287px;
  border: 2px solid $color-border-btn;
  background-color: transparent;
  color: $color-border-btn;
  border-radius: 0px;
  margin-bottom: 25px;
  font-size: 16px;
  text-align: left;
  padding-top: 5px; 
  padding-bottom: 4px;

  &:nth-child(1) {
    &:after {
      content: "+";
      position: absolute;
      left: 220px;
    }
  }
  
  

  &:hover {
    background-color: transparent;
    color: $color-border-btn;
    a {
      text-decoration: none;
    }
  }

  &:active {
    transform: translateY(2px);
  }

}



.entryListCon {
  width: 400px;
}


// Table -----------------------------

.table {

  tr {

    th {
      color: $color-light-grey;
      &:nth-child(4), &:nth-child(6) {
        background-color: rgba(237, 241, 255, 0.3);
      }
    }
  }

  tbody {
    tr {
      td {
        color: $color-dark-grey;
        letter-spacing:0.4px;
        font-weight: 600;
        
        &:nth-child(4), &:nth-child(6) {
          background-color: rgba(237, 241, 255, 0.3);
        }
      }
    }
  }
}


// TAB -----------------------------

.tab {
  width: 118px;
  height: 38px;
  color: $color-dark-grey;
  background-color: $color-border;
  display: flex;
  align-items: center;
  justify-content: center;

 
  &:hover {
    text-decoration: none;
    color: $color-dark-grey;
  }
  
}

.tabActive {
  background-color: $color-border-btn;
  color: $color-white;
  &:hover {
    color: #fff;
  }
}

.addBtn {
  height: 30px;
  margin-left: auto;
  color: $color-border-btn;
  background-color: transparent;
  border: 1px solid $color-border-btn;
  outline: none;
  cursor: pointer;
  
  &:focus {
    outline: none;
  }
}