@import "variables";

@font-face {
  font-family: WorkSans;
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/WorkSans-Regular.woff2) format("woff2");
}

* {
  font-family: WorkSans;
}

a {
  text-decoration: none;
}

body {
  background-color: $color-white;
}
