@import "styles/variables";
@import "commons/components/Button/index.scss";

.select-buttons {
  margin: 1rem 0;

  > * + * {
    margin-left: 1rem;
  }
}

.apps-area {
  margin: 2rem 0;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 4px;
  background: $color-divider;
  width: 700px;
  height: 250px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
