@import "commons/styles/variables";

.ProgressBar {
  border-radius: 15px;
  width: 100%;
  position: relative;
  background: $color-divider;
  height: 30px;
  line-height: inherit;

  .filling-area {
    border-radius: 15px;
    position: absolute;
    height: 100%;
    transition: all .4s ease-in-out;
    background-image:
       -webkit-linear-gradient(-45deg,
                               transparent 22%, rgba(0, 0, 0, .1) 33%,
                               rgba(0,0, 0, .1) 22%, transparent 66%),
       -webkit-linear-gradient(left, #7769fc, #5677fa);
    text-align: center;

    span{
      color:#fff;
      line-height: 100%;
      vertical-align: bottom;
    }
    
  }
}
