@import "styles/variables.sass";

.cluster-infos {
  display: flex;
  justify-content: space-around;

  padding-right: 2rem;
  border-right: 1px solid $color-divider;

  p, h3 {
    margin: 0.5rem 0;
  }
}
.testing-summary {
  margin-left: 2rem;

  p {
    margin-top: 0;
  }

  main > * {
    float: left;
    margin-right: 1rem;
  }
}

.NavItemLink {
  img {
    height: 30px;
    margin-right: 0.5rem;
  }

  &.selected {
    color: $color-dark-grey;
  }
}

.results-content > * {
  width: 48%;
  float: left;
  margin-top: 2rem;
  margin-bottom: 3rem;

  &:first-child {
    margin-right: 1rem;
  }
}

.ResultTable {
  width: 100%;
}
