$theme-colors: (
  "primary": #5677fa,
  "light": #f7f9fc,
  "dark": #1c293c,
  "success": #7ed321,
  "danger": #ff8686,
  "warning": #fdbd39,
);

//table
.table tr th {
  text-align: center;   
}

.table td {
  text-align: center;   
}

// dropdown
.show > .dropdown-menu {
  display: block;
  position: absolute;
}
