@import "commons/styles/variables";

.DashboardAppsTable {
  .Badge {
    font-size: 100%;
  }

  tbody tr:hover {
    cursor: pointer;
  }
}

.iconGrp {

  color: $color-primary;

  &:hover {
    transform: scale(1.4);
    transition: all .4s ease-out;
  }
}

.loaderCon {
  display: inline-block;
}
