@import "../../scss/_custom.scss";

.DashboardAppsTable {
  .Badge {
    font-size: 100%;
  }

  tbody tr:hover {
    cursor: pointer;
  }
}

.iconGrp {

  color: map-get($theme-colors,primary);

  &:hover {
    transform: scale(1.4);
    transition: all .4s ease-out;
  }
}

.loaderCon {
  display: inline-block;
}
