//StepOne
.stepOneCon{
    overflow: hidden;
}

.cardsPool{
    max-height: 250px; 
    overflow-y: scroll;
}


.btnGrp{
    cursor: pointer;
    outline: none;
}

//StepTwo

//StepThree
.wordLoading{
    margin-top: 30px;
    text-align: center;
}

.wordSuccess{
    margin-top: 0px;
    text-align: center;
    color: #7CBF4B;
    -webkit-animation: fadein 800ms;
    -moz-animation: fadein 800ms;
    -ms-animation: fadein 800ms;
    -o-animation: fadein 800ms;
    animation: fadein 800ms;
}

.spinnerCon{
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 150px;
}

.checkCon{
    transform: translateY(70px);
}

