@import "commons/styles/variables";

// SetupList
.stepOneCon {
  overflow: hidden;
}

.cardsPool {
  max-height: 250px;
  overflow-y: scroll;
}

.btnGrp {
  cursor: pointer;
  outline: none;
}

// Done
.wordLoading {
  margin-top: 30px;
  text-align: center;
}

.wordSuccess {
  margin-top: 0px;
  text-align: center;
  color: #7CBF4B;
  -webkit-animation: fadein 800ms;
  -moz-animation: fadein 800ms;
  -ms-animation: fadein 800ms;
  -o-animation: fadein 800ms;
  animation: fadein 800ms;
}

.spinnerCon {
  width: 100%;
  height: 100px;
  position: relative;
  margin-top: 150px;
}

.checkCon {
  transform: translateY(70px);
}

.iconGrp {
  color: $color-primary;
  &:hover {
    transition: all .3s ease-out;
    transform: scale(1.4);
  }
}

.btnReturn, .btnBegin {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.btnReturn a, .btnBegin a {
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.noData{
  width:100%;
  text-align: center;
  display: block;
  color: #b9bacb;
}

.appsTable {
  .AppStatusBadge {
    font-size: 100%;
  }

  tbody tr:hover {
    cursor: pointer;
  }
}

.loaderCon {
  display: inline-block;
}
