@import "styles/variables.sass";
@import "commons/components/Button/index.scss";

.RunnerModal {
  border: 1px solid $color-divider;
  border-radius: 4px;
  width: 700px;
  height: 400px;
  padding: 1rem 2rem;
  overflow: scroll;
  background: $color-white;
}

.progressbar p {
  margin-top: 10px;
  font-size: 14px;
  color: $color-dark-grey;
  float: right;
}

.completion-status-group {
  list-style: none;
  clear: both;
}

.button-to-result {
  display: flex;
  justify-content: center;
}
