@import "styles/variables.sass";

.ProgressIndicator {
  display: flex;
  justify-content: space-around;

  p, h3 {
    margin: 0.5rem 0;
  }
  > div + div {
    margin-left: 10px;
  }
  width: 38%;
}
