@import "styles/variables.sass";

<<<<<<< HEAD
.ProgrssIndicator {
=======
.ProgressIndicator {
>>>>>>> 6ea26994fb6b0bc7741148b7d1ce8c4089163002
  display: flex;
  justify-content: space-around;

  p, h3 {
    margin: 0.5rem 0;
  }
  > div + div {
    margin-left: 10px;
  }
}
